In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import networkx as nx
from scipy.stats import entropy
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import DBSCAN
from sklearn.mixture import GaussianMixture
from sklearn.ensemble import IsolationForest
import torch
import torch.nn as nn
import torch.optim as optim
import sys
import os

sys.path.append(os.path.abspath(".."))

SEED = 16

data=np.load("../datasets/labeled/first_batch_multi_labels.npz")

XX=data["X"]
yy=data["y"]

XX=pd.DataFrame(XX)
yy=pd.DataFrame(yy)
XX.rename(columns={0:"user",1:"item",2:"rating"},inplace=True)
yy.rename(columns={0:"user",1:"label"},inplace=True)

# Merge labels into main dataset
XX = XX.merge(yy, on="user", how="left").sort_values(by=["user", "item"])

print(XX.shape)
XX.head()

(176292, 4)

       user  item  rating  label
17785     0     9       0      0
17786     0    12      10      0
17787     0    13      10      0
17788     0    15      10      0
17789     0    16       1      0

In [6]:
XX.groupby("label")["user"].nunique()

label
0    1000
1      20
2      20
3      20
4      20
5      20
Name: user, dtype: int64